<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{{author.name}}</title> <!-- 作者名 -->
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="../static/css/ba.css">
   <link rel="stylesheet" href="../static/css/vendor.css">  
   <link rel="stylesheet" href="../static/css/min.css">
   <link rel="stylesheet" href="../static/css/bootstrap.css">

        

   <!-- script
   ================================================== -->
	<script src="{{url_for('static',filename='js/modernizr.js')}}"></script>
	<script src="{{url_for('static',filename='js/pace.min.js')}}"></script> 
	<script src="{{url_for('static',filename='js/jquery-2.1.3.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/plugins.js')}}"></script>
	<script src="{{url_for('static',filename='js/main.js')}}"></script>
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{url_for('static',filename='js/self/jquery.scrollzer.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/self/jquery.scrolly.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/self/skel.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/self/util.js')}}"></script>
	<script src="{{url_for('static',filename='js/self/main_person.js')}}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
	<!-- header 
   ================================================= -->
   <header class="short-header">   

   	<div class="gradient-block"></div>	

   	<div class="row header-content">

   		<div class="logo">
	         <a href="index.html">Author</a>
      </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li><a href="index.html" title="">Home</a></li>									
					<li class="has-children">
						<a href="category.html" title="">Categories</a>
						<ul class="sub-menu">
			            <li><a href="category.html">Wordpress</a></li>
			            <li><a href="category.html">HTML</a></li>
			            <li><a href="category.html">Photography</a></li>
			            <li><a href="category.html">UI</a></li>
			            <li><a href="category.html">Mockups</a></li>
			            <li><a href="category.html">Branding</a></li>
			         </ul>
					</li>
					<li class="has-children">
						<a href="single-standard.html" title="">Blog</a>
						<ul class="sub-menu">
			            <li><a href="single-video.html">Video Post</a></li>
			            <li><a href="single-audio.html">Audio Post</a></li>
			            <li><a href="single-gallery.html">Gallery Post</a></li>
			            <li><a href="single-standard.html">Standard Post</a></li>
			         </ul>
					</li>
					<li><a href="style-guide.html" title="">Styles</a></li>
					<li class="current"><a href="about.html" title="">About</a></li>	
					<li><a href="contact.html" title="">Contact</a></li>										
				</ul>
	  </nav> <!-- end main-nav-wrap -->

<div class="search-wrap">
				
				<form role="search" method="get" class="search-form" action="#">
					<label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
					</label>
					<input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div> <!-- end search wrap -->	

			<div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> <!-- end triggers -->	
   		
   	</div>     		
   	
   </header> <!-- end header -->
<body>
	<section id="header">
		<header>
		<span class="image avatar"><img src="{{url_for('static',filename=favicon.ico)}}" alt="" /></span>
		<h1 id="logo">{{author.name}}</h1>
		</header>
		<nav id="nav">
			<ul>
				<li><a href="#one" class="active">我的昵称</a></li>
				<li><a href="#two">个性签名</a></li>
				<li><a href="#three">我的作品</a></li>
				<li><a href="#four">我的收藏</a></li>
				<li><a href="#five">消息管理</a></li>
				{% if change %}
				<li><a href="#six">修改信息</a></li>
				{% endif %}
			</ul>
		</nav>
	</section>
	<div id="wrapper">
		<div id="main">
			<section id="one">
				<div class="container">
					<h3>我的昵称</h3>
					<br>
					<p>{{author.nickname}}</p>
				</div>
			</section>
			<section id="two">
				<div class="container">
					<h3>个性签名</h3>
					<br>
					<p>{{author.sign}}</p>
				</div>
			</section>

			<section id="three">
				<div class="container">
					<h3>我的作品</h3>
					<br>
					<div class="features">
						{% for blog in blogs %}
						<article>
							<a href="{{url_for('view',blog_id=blog.id)}}" class="image"><img src="{{url_for('static',filename=blog.imag)}}" alt="" /></a>
							<div class="inner" style="word-wrap:break-word">
								<a href="{{url_for('view',blog_id=blog.id)}}"><h4>{{blog.title}}</h4></a>
								<p>{{blog.text | truncate(length=100)}}</p>
							</div>
						</article>
						{% endfor %}
	
					</div>
				</div>
			</section>


			<section id="four">
			<div class="container">
					<h3>我的收藏</h3>
					<br>
					<div class="features">
						<div class="post-content">
     						<div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
     							<div class="post-save">
     							{% if current_user.is_authenticated %}
          						{% if not current_user.is_saving(post) %}
          					<a href="{{ url_for('.save', postid=post.id) }}" class="btn btn-danger btn-xs">Save</a>
          					{% else %}
         				 	<a href="{{ url_for('.unsave', postid=post.id) }}" class="btn btn-danger btn-xs">Unsave</a>
       				  		{% endif %}
     						{% endif %}
     							</div>
						</div>
					</div>
			</div>
			</section>


			<section id="five">
				<div class="container">
					<h3>消息管理</h3>
					<p>{{message}}</p>
				</div>

		
	</section>

			{% if change %}
			<section id="six">
				<div class="container">
					<h3>修改信息</h3>
					<form method="post" action="#" enctype='multipart/form-data'>
						<div class="row uniform">
							<div class="6u 12u(xsmall)"><input type="text" name="nickname" id="nickname" placeholder="昵称" /></div>
							<div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
						</div>
						<div class="row uniform">
							<div class="12u"><textarea name="sign" id="message" placeholder="Sign" rows="6"></textarea></div>
						</div>
						<div class="row uniform">
							<div class="12u"><input type="file" name="icon"></div>
						</div>

						<div class="row uniform">
							<div class="12u">
								<ul class="actions">
									<li><input type="submit" class="special" value="Submit" /></li>
									<li><input type="reset" value="Reset Form" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>
			{% endif %}

</body>


   <!-- footer
   ================================================== -->
<footer>

   	<div class="footer-main col-md-10 col-md-offset-1">

   		<div class="row">  

	      	<div class="col-three tab-full mob-full footer-info">            

	            <h4>About Our Site</h4>

	               <p>
		          	Lorem ipsum Ut velit dolor Ut labore .
          	  </p>

	      </div> <!-- end footer-info -->

	      	<div class="col-two tab-1-3 mob-1-2 site-links">

	      		<h4>Site Links</h4>

	      		<ul>
	      			<li><a href="#">About Us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy Policy</a></li>
			  </ul>

	      	</div> <!-- end site-links -->  

	      	<div class="col-two tab-1-3 mob-1-2 social-links">

	      		<h4>Social</h4>

	      		<ul>
	      			<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Dribbble</a></li>
						<li><a href="#">Google+</a></li>
						<li><a href="#">Instagram</a></li>
			  </ul>
	      	           	
	      	</div> <!-- end social links --> 

	      	<div class="col-four tab-1-3 mob-full footer-subscribe">

	      		<h4>Subscribe</h4>

	      		<p>Keep yourself updated. Subscribe to our newsletter.</p>

	      		<div class="subscribe-form">
	      	
	      			<form id="mc-form" class="group" novalidate="true">

							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Type &amp; press enter" required=""> 
	   		
			   			<input type="submit" name="subscribe" >
		   	
		   				<label for="mc-email" class="subscribe-message"></label>
			
				  </form>

	      		</div>	      		
	      	           	
	      	</div> <!-- end subscribe -->         

      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

      <div class="footer-bottom">
      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>Copyright &copy; 2018.一公里内</span> 
	          </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
		         </div>         
	      	</div>

      	</div> 
      </div> <!-- end footer-bottom -->   

</footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

</html>