
<!DOCTYPE HTML>
<html>
<!-- 个人主页 -->
<head>
	<title>{{user.username}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- css -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/info.css')}}" />
	<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome/css/font-awesome.min.css')}}" />

<!-- 引入头像 -->
	<link rel="shortcut icon" href="{{url_for('static',filename='../static/images/user1.ico')}}" />


<!-- script -->
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{url_for('static',filename='js/author/jquery-2.1.3.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/author/jquery.scrollzer.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/author/jquery.scrolly.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/author/skel.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/author/util.js')}}"></script>
	<script src="{{url_for('static',filename='js/author/main_person.js')}}"></script>

</head>
<body>

	<section id="header">
		<header>
			<span class="image avatar"><img src="{{url_for('static',filename=user.img)}}" alt="" /></span> <!-- 用户头像 --> 
			<h1 id="logo">{{user.username}}</h1> <!-- 用户昵称 -->
		</header>


		<nav id="nav">
			<ul>
				<li><a href="#one" class="active">我的昵称</a></li>
				<li><a href="#two">我的签名</a></li>
				<li><a href="#three">我的作品</a></li>
				<li><a href="#four">我的收藏</a></li>
				<li><a href="#five">我的消息</a></li>
				<li><a href="#six">我的积分</a></li>
				<li><a href="#seven">修改信息</a></li>
				<li><a href="{{url_for('index')}}">返回主页</a></li>
				<li><a href="{{url_for('login')}}">退出登录</a></li>

			</ul>
		</nav>
	</section>

	<div id="wrapper">
		<div id="main">
			<section id="one">
				<div class="container divcss5">
					<h3>我的昵称</h3>
					<br>
					<p>{{user.username}}</p>
				</div>
			</section>

			<section id="two">
				<div class="container divcss5">
					<h3>我的签名</h3>
					<br>
					<p>{{user.sign}}</p>
				</div>
			</section>

			<section id="three">
				<div class="container divcss5">
					<h3>我的作品</h3>
					<br>
					<div class="features">
						{% for share in shares %}
						<article>
							<a href="{{url_for('view',share_id=share_id)}}" class="image"><img src="{{url_for('static',filename=share.img)}}" alt="" /></a>
							<div class="inner" style="word-wrap:break-word">
								<a href="{{url_for('view',share_id=share_id)}}">
									标签：<p>{{share.tag}}</p></a>
								您的评价：
								<br>
								<p>{{share.text}}</p>
							</div>
						</article>
						{% endfor %}
	
					</div>
				</div>
			</section>

			<section id="four">
				<div class="container divcss5">
					<h3>我的收藏</h3>
					<br>
					<div class="features">
					{% for share in shares %}
						<article> <!-- 收藏的图文 -->
							<h4>该作品被
								<span style="color:red">{{share.collected_count}}</span>人收藏</h4>
							<a href="{{url_for('view',share_id=share_id)}}" class="image"><img src="{{url_for('static',filename=share.img)}}" alt="" /></a>
							<div class="inner" style="word-wrap:break-word">
								<a href="{{url_for('view',share_id=share_id)}}"></a>
							</div>
						</article>
						{% endfor %}
	
					</div>
				</div>
			</section>

			<section id="five">
				<div class="container divcss5">
					<h3>我的消息</h3>
					<br>
					<p>您被<span style="color:red">{{user.like_count}}</span>人点赞啦！</p> <!-- 点赞数量 -->
				</div>
			</section>


			<section id="six">
				<div class="container divcss5">
					<h3>我的积分</h3>
					<br>
					恭喜您，您当前积分为：<p style="color:red">{{user.score}}</p> 
				</div>
			</section>



			<section id="seven">
				<div class="container">
					<h3>修改信息</h3>
					<form method="post" action="#" enctype='multipart/form-data'>
						<div class="row uniform">
							<div class="6u 12u(xsmall)"><input type="text" name="username" id="name" placeholder="昵称" /></div>
							<div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
						</div>
						<div class="row uniform">
							<div class="12u"><textarea name="sign" id="message" placeholder="Sign" rows="6"></textarea></div>
						</div>
						<div class="row uniform">
							<div class="12u"><input type="file" name="icon"></div>
						</div>

						<div class="row uniform">
							<div class="12u">
								<ul class="actions">
									<li><input type="submit" class="special" value="Submit" /></li>
									<li><input type="reset" value="Reset Form" /></li>
								</ul>
							</div>
						</div>

					</form>
				</div>
			</section>

			<section id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; 一公里内</li>
					</ul>
				</div>
			</section>




		</div>


</body>
</html>
