{% extends "base.html" %}
{% block content %}
<section id="bricks">

	<div class="row masonry">

		<!-- brick-wrapper -->
		<div class="bricks-wrapper">

			<div class="grid-sizer"></div>

			<div class="brick entry featured-grid animate-this">
				<div class="entry-content">
					<!--滚动栏-->
					<div id="featured-post-slider" class="flexslider">
						<ul class="slides">

							<!--滚动页面-->
							{% for post_bg,post_author in posts %}
							<li>
								<div class="featured-post-slide">

									<!--设置图片-->
									<div class="post-background" style="background-image:url({{url_for('static',filename=post_bg.imag)}});"></div>

									<div class="overlay"></div>

									<div class="post-content">


										<!--文本区域-->
										<ul class="entry-meta">
											<li>{{post_bg.upload_time}}</li>
											<li><a href="{{url_for('author',authoruid=post_author.uid)}}">{{post_author.name}}</a></li>
										</ul>
										<h1 class="slide-title"><a href="{{url_for('view',blog_id=post_bg.id)}}" title="">{{post_bg.title}}</a></h1>

									</div>
								</div>
							</li>
							{% endfor%}


						</ul>
					</div>
				</div>
			</div>

			{% for blog in blogs %}

			{% if blog.type == 'p' %}
			<article class="brick entry format-standard animate-this">
			{% else %}
			<article class="brick entry format-audio animate-this">
			{% endif %}
				<div class="entry-thumb">
					{% if blog.type == 'p' %}
					<a href="{{url_for('blog',bid=blog.share_id)}}" class="thumb-link">
						<img src="{{url_for('static',filename=blog.purl)}}" width="100%" alt="building">
					</a>
					{% else %}
					<!--视频-->
					<video src="{{url_for('static',filename=blog.vurl)}}" controls="controls"></video>
					{% endif %}
				</div>

				<div class="entry-text">
					<div class="entry-header">

						<div class="entry-meta">
							<span class="cat-links">
								{{blog.share_time}}
								<a href="{{url_for('profile',uid=blog.uid)}}">{{blog.username}}</a>
							</span>
						</div>

						<a href="{{url_for('blog',bid=blog.share_id)}}"><p>{{blog.text | safe | truncate(length=75)}}</p></a>
						<div>{{blog.tag}}</div>

					</div>
					
					<div class="entry-excerpt">
						阅读 {{blog.view_count}} &nbsp;&nbsp;评论 {{blog.comment_count}}&nbsp;&nbsp;点赞 {{blog.like_count}}
					</div>

					<button onclick="like({{blog.share_id}})">点赞</button>
					<button onclick="collect({{blog.share_id}})">收藏</button>
					<button onclick="comments({{blog.share_id}})">评论</button>
				
				</div>

			</article> <!-- 文章结束 -->
			
			{% endfor %}
		</div>
		<!--文章页面结束-->

	</div>


	<!--分页备选-->
	<!--
   	<div class="row">	
   		<nav class="pagination">
		      <span class="page-numbers prev inactive">Prev</span>
		   	<span class="page-numbers current">1</span>
		   	<a href="#" class="page-numbers">2</a>
		      <a href="#" class="page-numbers">3</a>
		      <a href="#" class="page-numbers">4</a>
		      <a href="#" class="page-numbers">5</a>
		      <a href="#" class="page-numbers">6</a>
		      <a href="#" class="page-numbers">7</a>
		      <a href="#" class="page-numbers">8</a>
		      <a href="#" class="page-numbers">9</a>
		   	<a href="#" class="page-numbers next">Next</a>
		  </nav>
	</div>
	-->


</section>

	
	{{post_bgs}}

	{{blogs}}

	{{ilikes}}

	

	<script type="text/javascript">
		function like(bid){
			url = "/like/"+bid;
			$.get(url, function(msg){
				alert(msg);
			});
		}
		function collect(bid){
			url = "/collect/"+bid;
			$.get(url, function(msg){
				alert(msg);
			});
		}
		function comments(bid){
			url = "/comment/"+bid;
			comment = {'comment':'1'};
			$.post(url, comment, function(msg){
				alert(msg);
			});
		}
	</script>

{% endblock %}